  :root{
    --brandcolor: #3b013b;

    --ion-color-primary: #ee743b;
    --ion-color-primary-rgb:238,116,59;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb:  255,255,255;
    --ion-color-primary-shade: #d16634;
    --ion-color-primary-tint: #f0824f;


  }